<!DOCTYPE html>
<html>
<head>
  <title>Loto - Potvrda uplate</title>
</head>
<body>
  <h1>Uplata uspješna!</h1>
  <p>Skeniraj QR kod ili klikni ispod za pregled listića:</p>
  <img src="<%= qrImage %>" alt="QR code">
  <p><a href="<%= qrUrl %>"><%= qrUrl %></a></p>
</body>
</html>
